.inputWrapper {
	width: 100%;
	margin-top: 0.8rem;
}

.inputError {
	border: 1px solid red;
}

.textError {
	color: red;
}

.label {
	font-size: 1.6rem;
	display: flex;
	align-items: center;
}

.caption {
	margin-right: 10px;
	font-size: 1.8rem;
}

.input {
	flex: 1 1 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
	padding: 0 0 0 4px;
	color: rgb(50, 49, 48);
	background-color: rgb(255, 255, 255);
	border-radius: 2px;
	border: 1px solid rgb(96, 94, 92);
	height: 2.3rem;
	width: 200px;
}

.input:hover ~ .container:active {
	border: 1px solid rgb(0, 90, 158);
}

@media (max-width: 480px) {
	.label {
		font-size: 1.3rem;
	}
}

@media (max-width: 1024px) {
	.caption {
		font-size: 1.4rem;
	}
}
