.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 2rem 10rem;
	border-bottom: 1px solid rgb(128, 128, 128);
	min-height: 90px;
}

@media (max-width: 1024px) {
	.container {
		justify-content: center;
		flex-wrap: wrap;
		padding: 2rem 3rem;
	}
}

@media (max-width: 480px) {
	.container {
		justify-content: center;
		flex-wrap: wrap;
		padding: 0.5rem;
	}
}
