.container {
	width: 100%;
	min-width: 280px;
	font-size: 2rem;
	margin-top: 1rem;
	border-bottom: 1px solid rgba(29, 27, 27, 0.4);
	cursor: pointer;
}

@media (max-width: 480px) {
	.container {
		font-size: 1.5rem;
	}
}
