.container {
	width: 100%;
	margin-top: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.5rem;
	border-bottom: 1px solid rgb(80, 77, 77, 0.4);
}

.left {
	flex: 1 1 0px;
	font-size: 1.5rem;
	text-align: right;
	margin-right: 20px;
}

.right {
	flex: 1;
	font-size: 1.5rem;
}
